<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215863431863-adbti0oha9189dculruukv2mrdhvcnur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215863431863-adbti0oha9189dculruukv2mrdhvcnur</string>
	<key>API_KEY</key>
	<string>AIzaSyBPE8u2wXkf9xrfh6GtGg2Zdk-skTAH4Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>215863431863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greghughes.SwiftUIDesignCode</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftui-88c0d</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftui-88c0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215863431863:ios:6df6dbb36291645a9e3332</string>
</dict>
</plist>